@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap');

.conteiner {
  height: 100vh;
  width: 100%;
  background-image: url("https://img.freepik.com/vector-gratis/conjunto-perro-pequeno-feliz-lindo-perrito-divertido-practicando-diferentes-actividades-cazando-jugando-comiendo-durmiendo_74855-10796.jpg?t=st=1655844975~exp=1655845575~hmac=b04f4e43bd96450d035f4c94e6777cbb046aff41a17fd1246b7bc6a83ffec519&w=826");
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.title {
  font: bold 7.5vw/1.6 'Acme', sans-serif;
  color: rgb(26, 12, 12);
  font-size: 50px;
  letter-spacing: 5px;
  

}

.btn:hover {
  background-color: rgb(165, 48, 2);
  transform: scale(1.1);
  cursor: pointer;
}