@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap');

.conteiner {
  background-image: url("https://thumbs.dreamstime.com/b/modelo-incons%C3%BAtil-de-las-huellas-animales-del-fondo-41469148.jpg");
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font:bold 7.5vw/1.6 'Acme', sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
}


.coso {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100%;
}

.form {
  background-color: rgb(192, 113, 10);
  border-radius: 15px;
  width: 45%;
  margin: auto;
  padding: auto;
  font: 1vw 'Acme', sans-serif;
}

.obligatorio {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 4%;
}

.label, .labell {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 20px;
  padding: auto;
  font: bold 7.5vw/1.6 "Acme", sans-serif;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
}

.row {
  display: flex;
  flex-direction: column;
}

.input{
  width: 80%;
  margin: 10px 0 20px 20px;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  border-bottom: 2px solid gainsboro;
  outline: none;
}

.input:focus {
  border: none;
  border-bottom: 3px solid #555;
}

.inputl:focus {
  border: none;
  border-bottom: 3px solid #555;
}

.inputl{
  width: 80%;
  margin: 10px 0 10px 40px;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-bottom: 2px solid gainsboro;
  outline: none;
}

.select {
  width: 90%;
  padding: 12px 20px;
  margin: 20px 0 0 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
.ul {   
  list-style: none;
}

.btn {
  width: 20%;
  background-color: burlywood;
  color: white;
  font: 1vw 'Acme', sans-serif;
  padding: 20px 20px;
  margin: 20px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(156, 130, 96);
  transform: scale(1.1);
  cursor: pointer;
}

.botonTemp { 
  width: 30%;
  background-color: rgb(18, 137, 153);
  color: white;
  padding: 10px;
  margin: 5px;
  margin-right: 7%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 1vw 'Acme', sans-serif;
}

.botonTemp:hover{
  background-color: rgb(2, 80, 80);
  transform: scale(1.1);
  cursor: pointer;
}

.error {
  display: flex;
  flex-direction: row;
  font: 'Acme', sans-serif;
  font-size: 20px;
  color: rgb(230, 230, 230);
  margin-left: 4%;
}

.danger{
  background-color: burlywood;
  justify-content: space-between;
  justify-items:stretch;
  border-radius: 10%;
  width: 40%;
    height: 240px;
  padding-top: 7px;
  position: sticky;
  top: 10%;
}

.titleDangers{
  color: #a84501;
}
.containerFormsAndErrors{
  display: flex;
}

/* padding: -20px;
  margin-left: 75%;
  margin-top: -31%;
  margin-bottom: 70%; */